{% extends './home.html' %}
{% block title %}Pedidos{% endblock %}

{% block body_home %}
<body class="bg-gray-100 p-8">

    <h1 class="text-3xl font-semibold mb-4">Lista de Pedidos</h1>

    <ul>
        {% for pedido in pedidos %}
            <li class="bg-white rounded-md shadow p-4 mb-4">
                <strong class="block mb-2">Nombre:</strong> {{ pedido['nombre'] }}<br>
                <strong class="block mb-2">Carrera:</strong> {{ pedido['carrera'] }}<br>
                <strong class="block mb-2">Descripción:</strong> {{ pedido['descripcion'] }}<br>
                <strong class="block mb-2">Correo Electrónico:</strong> {{ pedido['email'] }}<br>
                <strong class="block mb-2">Número de Teléfono:</strong> {{ pedido['telefono'] }}<br>

                <form action="/admin/aceptar/{{ pedido['id'] }}" method="get" class="mt-4">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Aceptar</button>
                <form action="/admin/rechazar/{{ pedido['id'] }}" method="get" class="mt-4">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Rechazar</button>
            </li>
        {% endfor %}
    </ul>

</body>
{% endblock %}